#container {
background: rgb(220,220,230);
}
.centre {
    text-align: center;
}
#blue {
    color: blue;
}
#green {
    color:seagreen
}
.list {
  text-align: left;
  margin:auto;
  font-size: large;
  margin-right: 7px;
}
.link {
    text-align: left;
    margin-left: 20px;
    font-size: 25px;
    color: purple;
}